modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run start"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/dashboard: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/dashboard"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/dashboard run dev"
cwd = "./artifacts/dashboard"
waitForPort = 23183
router = "path"

[workflows.workflow.tasks.env]
PORT = "23183"
BASE_PATH = "/dashboard/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/api-server: API Server new"
mode = "sequential"
author = 57426929

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 pnpm --filter @workspace/api-server run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 3001
externalPort = 6000

[[ports]]
localPort = 4001
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 23183
externalPort = 3001

[[ports]]
localPort = 23184
externalPort = 3003

[[ports]]
localPort = 23185
externalPort = 5173
